@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}

a:hover {
  @apply text-inkshrink-green;
  text-shadow: 1px 1px 5px;
  @apply shadow-inkshrink-green;
}

html {
  @apply scroll-smooth;
  @apply overflow-x-hidden;
}
* {
  @apply font-balgin font-extralight;
}
html,
input,
textarea {
  @apply text-white;
  @apply bg-inkshrink-black;
}

.loader {
  @apply h-20 w-20;
  @apply border-[15px]
  border-solid border-white;
  @apply border-t-inkshrink-green border-t-[15px] border-solid;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin-left {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  @apply bg-inkshrink-green;
  @apply border-spacing-3;
  @apply shadow-inkshrink-green;
}
